<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
<<<<<<< HEAD
            <a class="navbar-brand" href="http://localhost">
=======
            <a class="navbar-brand" href="/">
>>>>>>> 6c673881f92b797b39ae0bb1774855b2e2dd8242
               
                <span class="glyphicon glyphicon glyphicons-projector"></span>
                GNXDLP
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/upload">Upload Print File</a></li>
<<<<<<< HEAD
            <li><a href="/profiles">Profiles</a></li>
            <li><a href="/jobCreator">Job Creator</a></li>
            <li><a href="/printManager">Print Manager</a></li>
=======
            <li><a href="/jobCreator">Job Creator</a></li>
            <li><a href="/printManager">Print Manager</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Settings<span class="caret"></span></a>
            
            
                <ul class="dropdown-menu">
                    <li><a href="/meterials">Meterials</a></li>
                    <li><a href="/printerProfile">Printer Profile</a></li>
                    <li><a href="/">Calibration</a></li>
                  
                    
                    
                </ul>
            </li>
            
            
            
>>>>>>> 6c673881f92b797b39ae0bb1774855b2e2dd8242
           
            
            

            
            
            


        </ul>
      
    </div>
</nav>