<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
               
                <span class="glyphicon glyphicon glyphicons-projector"></span>
                GNXDLP
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/upload">Upload Print File</a></li>
            <li><a href="/jobCreator">Job Creator</a></li>
            <li><a href="/printManager">Print Manager</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Settings<span class="caret"></span></a>
            
            
                <ul class="dropdown-menu">
                    <li><a href="/meterials">Meterials</a></li>
                    <li><a href="/printerProfile">Printer Profile</a></li>
                    <li><a href="/">Calibration</a></li>
                  
                    
                    
                </ul>
            </li>
            
            
            
           
            
            

            
            
            


        </ul>
      
    </div>
</nav>