<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="http://localhost:3000">
               
                <span class="glyphicon glyphicon glyphicons-projector"></span>
                GNXDLP
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="http://localhost:3000/upload">Upload Print File</a></li>
            <li><a href="http://localhost:3000/profiles">Profiles</a></li>
            <li><a href="http://localhost:3000/jobCreator">Job Creator</a></li>
            <li><a href="http://localhost:3000/printManager">Print Manager</a></li>
           
            
            

            
            
            


        </ul>
      
    </div>
</nav>