<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
</head>
<body class="container">

    <header>
        <% include header %>
    </header>

    <main>
        <div class="jumbotron">
            
            <p>Gnexlab DLP Controller ver:0.1</p>
            
            <div class="panel panel-default">
               <div class="panel-heading">
                  Printer Status : Online
               </div>
               <div class="panel-body">
                   <form action="/foo" method="post">
                     <button onclick="playFunction()" name="print"type="button">Play</button>
                     <button onclick="pauseFunction()" name="print"type="button">Pause</button>
                     <button onclick="stopFunction()" name="print"type="button">Stop</button>
                   </form>
               </div>
            </div>
            
             <div class="panel panel-default">
               <div class="panel-heading">
                  Printing File : No Print Job
               </div>
               <div class="panel-body">
                  <h4 id="status">Layer 36 of 822</h4>
               </div>
            </div>
            
        </div>
    </main>

    <footer>
        <% include footer %>
    </footer>
    
</body>
</html>











