<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
</head>
<body class="container">

    <header>
        <% include header %>
    </header>

    <main>
    
        <div class="jumbotron">
   
            <h3>Print Manager</h3>

            <div class="panel panel-default">
               <div class="panel-heading">
                  Print Job:
               </div>
               <div class="panel-body">
                  <%= printJob %>
               </div>
            </div>

            <div class="panel panel-default">
               <div class="panel-heading">
                 Print Control:
               </div>
               <div class="panel-body">
                 
                 <button onclick="playFunction()" name="print"type="button">Play</button>
                 <button onclick="pauseFunction()" name="print"type="button">Pause</button>
                 <button onclick="stopFunction()" name="print"type="button">Stop</button>
                 <form action="/printManager" method="post">
                  <button type="submit" name='buttonStartPrint'>Start Print</button>
                 </form>

               </div>
            </div>

            <div class="panel panel-default">
               <div class="panel-heading">
                  Status:
               </div>
               <div class="panel-body">
                  <h4 id="status">Printing : Layer 36 of 822</h4>
               </div>
            </div>


        </div>
    </main>

    <footer>
        <% include footer %>
    </footer>
    
</body>
</html>




