<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
</head>
<body class="container">

    <header>
        <% include header %>
    </header>

    <main>
    
        <div class="jumbotron">
   
            <h3>Printer Profile</h3>

            <div class="panel panel-default">
               <div class="panel-heading">
                  Edit Printer Profile:
               </div>
               <div class="panel-body">
                   
                   <textarea rows="5" cols="50">
                              "projector_res_h": "1024",
                              "projector_res_w": "768",
                              "build_table_x": "51.2",
                              "build_table_y": "38.4",
                </textarea>

               </div>
            </div>
            <div class="panel panel-default">
               <div class="panel-heading">
                 
               </div>
               <div class="panel-body">
                   <form action="/foo" method="post">
                      <button type="button">Save</button>
                      
                   </form>
               </div>
            </div>

   

   


        </div>
    </main>

    <footer>
        <% include footer %>
    </footer>
    
</body>
</html>




